// Custom variables for the Trontastic theme option of the Jqui theme

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //
// Variables needed for button color variants (start)

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #878787; //#6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

$primary:       #b8ec79;
$secondary:     #005064;
$success:       #b5dfb5;
$info:          #c5e9f3;
$warning:       #f6ce95;
$danger:        #D63D00; // #ff5c1a;
$light: #ddf8f9; // use input bg (was #18a3bb;)
$dark: #111111; // Match bg of topbar zone


$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

// The following are default values from node_modules/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
$min-contrast-ratio:  3;

$color-contrast-dark:             $gray-900;
$color-contrast-light:            $white;

// Options
//Prefix
$prefix: bs-;

$body-bg: #000;
$body-color: #fff;

$link-color: #b8ec79;
$link-hover-color:   #a0e64c;
$link-hover-decoration:       underline;
$link-shade-percentage:                   20% !default;

$text-muted-readable: var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- #acabab; // I'm having trouble getting $text-muted to be recognized.


$border-radius:               .375rem; // = 6px default
$border-radius-sm:            .25rem;
$border-radius-lg:            .5rem;
$border-radius-xl:            1rem;
$border-radius-2xl:           2rem;
$border-radius-pill:          50rem;

$border-color: #1b1613;
$border-width: 1px;

// Prefix for :root CSS variables

$variable-prefix:             bs-; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix;

// Navs
$nav-link-color:                    var(--#{$prefix}link-color) !default; // $link-color;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default; // lighten($link-color,8%);

//#b8ec79
$nav-tabs-border-color:             $black;
$nav-tabs-border-width:             $border-width;
$nav-tabs-border-radius:            $border-radius;
$nav-tabs-link-hover-border-color:  #000;
$nav-tabs-link-active-color:        #fff;
$nav-tabs-link-active-bg:           #4c4c4c;
$nav-tabs-link-active-border-color: #696969;

// Navbars
$page-header-link-color: #fff;
$topbar-link-color: #fff;
$navbar-light-color: $link-color;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

// Dropdowns
$dropdown-bg: #000;
$dropdown-color: #fff;
$dropdown-padding-y: 0;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;
$dropdown-link-color:               $dropdown-color;
$dropdown-link-hover-color:         shade-color($dropdown-link-color, 10%);
$dropdown-link-hover-bg:            #4c4c4c;
//$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $dropdown-link-hover-bg;

$dropdown-dark-color: $dropdown-color;
$dropdown-dark-bg: $dropdown-bg;
$dropdown-dark-link-hover-bg: $dropdown-link-hover-bg      ;
$dropdown-border-color: #6d6c6b;

// Accordion

// scss-docs-start accordion-variables
$accordion-padding-y:                     0.5rem;
$accordion-padding-x:                     0.7rem;
$accordion-color:                         var(--#{$prefix}body-color);
$accordion-bg:                            var(--#{$prefix}body-bg);
$accordion-border-width:                  $border-width;
$accordion-border-color:                  var(--#{$prefix}border-color);
$accordion-border-radius:                 6px;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);
$accordion-button-color:                  $primary;
$accordion-button-bg:                     var(--#{$prefix}accordion-bg);
//$accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              #4c4c4c;
$accordion-button-active-color:           #fff;
$accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    $accordion-button-color;
$accordion-icon-active-color:             $accordion-button-active-color;
$accordion-icon-transition:               transform .2s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
// scss-docs-end accordion-variables

// Popovers
$popover-body-color:                var(--#{$prefix}body-color);

// Typography
$hr-color: #18a3bb;
$text-success: #288040 !important;
$text-danger: #d63d00 !important;
$text-muted:  $text-muted-readable;
$headings-font-family: Play;
$headings-font-weight: 700;

// Tables
$table-color:                 var(--#{$prefix}body-color);
$table-bg:                    var(--#{$prefix}body-bg);
$table-accent-bg:             lighten($body-bg,5%);

$table-th-font-weight:        null;

$table-striped-color:         $table-color;
$table-striped-bg-factor:     1;
$table-striped-bg:            rgba($black, $table-striped-bg-factor);

$table-active-color:          $table-color;
$table-active-bg-factor:      .1;
$table-active-bg:             rgba($black, $table-active-bg-factor);

$table-hover-color:           $table-color;
$table-hover-bg-factor:       .075;
$table-hover-bg:              rgba($black, $table-hover-bg-factor);

$table-border-factor:         .3;
$table-border-width:          $border-width;
$table-border-color:          #aaa;

$table-striped-order:         odd;
$table-striped-columns-order: even;

$table-group-separator-color: currentcolor;

$table-caption-color:         $text-muted-readable;

// Forms
$input-color: var(--#{$prefix}body-color) !default; // #000;
$input-bg: var(--#{$prefix}body-bg) !default; // #c6e99c;
$form-text-color: $text-muted-readable;

// Form validation

// List group
$list-group-color:                  #fff;
$list-group-bg:                     var(--#{$prefix}body-bg);

// Figures
$figure-caption-color:              $text-muted;

// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em !default;
//$badge-font-weight:                 $font-weight-bold !default;
$badge-color:                       $white !default;
$badge-padding-y:                   .35em !default;
$badge-padding-x:                   .65em !default;
$badge-border-radius:               $border-radius !default;
// scss-docs-end badge-variables

// Code
$code-font-size:                    1rem;
$code-color:                        #000;

$kbd-bg:                            #fff;
